::selection {
    // background-color: rgba(237, 63, 149, .2);
    background-color: $selection-color;
}

.badge-dark-grey {
    border: solid 1.5px #495057;
}

h1 {
    padding-top: 20px;
}

h2 {
    margin-top: 30px;
}

h3 {
    text-transform: uppercase;
    color: gray;
    font-size: 1.3rem;
    margin-top: 20px;
}

.navbar-nav {
    margin-left: 0;
}

.btn-brand {
    color: white !important;
    background-color: #505050 !important;
    border-color: white;
    background-color: rgba(0, 0, 0, 0);
    margin-left: 20px;

    &:hover {
        background-color: $brand-color;
        color: white !important;
    }
}

.suggest-edits {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    // font-size: .8rem;
}

.page-title i {
    font-size: 1.8rem;
}

.lab-toc {
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;

    h4 {
        display: block;
        padding: 3px 15px;
        font-size: 11px;
        font-weight: bold;
        line-height: 20px;
        color: #999999;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        text-transform: uppercase;
        padding-top: 15px;
        margin-bottom: 0px;
    }

    ul {
        margin-left: 15px;
    }

    li {
        display: block;
        font-size: 14px;
    }

    a {
        text-decoration: none;
    }
}

.test {
    display: none;

    @media (max-width: 1170px) {
        display: block;
    }
}

.home-card {
    margin-bottom: 30px;

    i {
        margin-top: 20px;
        font-size: 40px;
    }

    .card-body {
        height: 100px;
    }
}

.firstcharacter {
    color: $brand-color;
    float: left;
    font-family: "Ubuntu Mono", monospace;
    font-size: 75px;
    line-height: 60px;
    padding-top: 0px;
    padding-right: 8px;
    padding-left: 3px;
}

table {
    margin: 20px;
}

td,
th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
    // background-color: rgba($selection-color, 0.2);
}

tr:hover {
    background-color: #ddd;
}

th {
    min-width: 150px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgba($sidebar-hover-color, 0.7);
    // background-color: rgba($brand-color, 0.7);
    color: black;
}

table {
    .section {
        text-align: center;
        font-weight: bold;
        padding-top: 20px;
    }
}

//.home-image {
//    background-image: url("../images/none.svg");
//    background-repeat: no-repeat;
//    background-size: cover;
//    background-position: 20% 0%;
//}

.home-icon {
    // background-size: contain;
    margin: 0 auto;
    margin-top: 20px;
    width: 70px;
    height: 70px;
}


.tt-icon {
    background: url("../images/andTT-4.svg") no-repeat center center;
}

.gate-icon {
    background: url("../images/orGate-5.svg") no-repeat center center;
}

.ff-icon {
    background: url("../images/ff-3.svg") no-repeat center center;
}

.sv-icon {
    background: url("../images/sv.svg") no-repeat center center;
}

.fpga-icon {
    background: url("../images/fpga.svg") no-repeat center center;
            }

.no-collapse-animation {
    transition: none !important;
    }

.title-bar {
    background: linear-gradient(
  180deg,
  #f18321,
  #f18321 30%,
  #f26448 30% 50%,
  #d882a1 50% 70%,
  #0a69a8 70%
  
);
// min-height: 80px;
// height: 70px;
}

.title-text {
    font-size: 3rem;
    font-weight: 800;
    color:$background_color;    
    text-align: center;
    margin: 0;
    font-family: 'Exo 2', sans-serif;
}

.highlighter-rouge {
    .highlight {
        background:lighten(#d882a1,25%);
    }
}

pre,code {
    background-color: lighten(#d882a1,25%);
}

.btn-link {
    color: $brand-color;
}

.sidebar-schedule {
    // background-color: lighten($brand-color, 40%) !important;
    color: black;
    font-weight: 800;
    font-size:large;
}

strong{
    font-weight: bold;
}