{% assign item = site.data.questions | where: "id", include.id | first %}
<div class="collapsible">
    <p class="activity-label h3-clone">ACTIVITY</p>
    <p class="dropdown-arrow h3-clone">&#9660;</p>
</div>
<div class="activity">
    <p class="item-prompt h2-clone">{{item.prompt | escape}}
        {% if item.help %}
        <i class="fas fa-question-circle help-circle"></i>
        {% endif %}
    </p>
    <!-- Check for image -->
    {% if item.image %}
    <img src="{{site.baseurl}}/{{item.image}}" alt="">
    {% endif %}
    <!-- Multiple Choice Setup -->
    {% if item.type=="multiple_choice" %}
    <ul class="quiz answer-cont">
        {% for response in item.responses %}
        <li class='mc-response' data-correct='{{response.correct | escape}}'>{{response.text | escape}}</li>
        {% endfor %}
    </ul>
    <!-- Matching Setup -->
    {% elsif item.type=="matching" %}
    <div class="matching-cont answer-cont">
        <ul class="quiz matching-col">
            {% for response in item.responses %}
            <li class='matching-response' id='{{response.text | escape}}' data-text='{{response.text | escape}}'
                data-correct='{{response.correct | escape}}'>
                {{response.text | escape }}</li>
            {% endfor %}
        </ul>
        <ul class="quiz matching-col">
            {% for response in item.responses %}
            <li class='matching-response' id='{{response.correct | escape}}' data-text='{{response.text | escape}}'
                data-correct='{{response.correct | escape}}'>
                {{response.correct | escape}}</li>
            {% endfor %}

        </ul>
    </div>
    {% else %}
    <!-- Fillin the Blank Setup -->
    <div class="quiz fillin-cont answer-cont">
        {% for response in item.responses %}
        <p class="fillin-line" data-blank='{{response.correct | escape}}'>{{response.text | escape}}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% if item.help %}
    <div class="help">
        <svg class="help-x" xmlns="https://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path
                d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z" />
        </svg>
        <p class="help-text">{{item.help | escape}}</p>
    </div>
    {% endif %}
</div>