<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src={{ "/js/jquery.visible.min.js" | relative_url }}></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
<script src={{ "/js/js.cookie-2.2.1.min.js" | relative_url }}></script>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    var prevVisible = $('#page-title').visible();

    $(window).scroll(function () {
        currentVisible = $('#page-title').visible()
        if (prevVisible && !currentVisible) {
            console.log("Do something!");
            $("#page-title-bar").html($('#page-title').text());
        }

        if (!prevVisible && currentVisible) {
            $("#page-title-bar").html("")
        }

        prevVisible = currentVisible;
    });

</script>


<!-- Sidebar memory script -->
<script type="module">

    $(document).ready(function () {
        var shown = Cookies.get('expandedSidebars');
        if (!shown) {
            // $("#collapsesetup").collapse("show");
            return;
        }
        shown = JSON.parse(shown);

        shown.forEach(function (item, index) {
            $("#" + item).addClass('no-collapse-animation')
            $("#" + item).collapse("show");
            $("#" + item).removeClass('no-collapse-animation')
        });
    });

    {% for group in site.data.groups %}

    // When a group is expanded, save it to the 'expandedSidebars' cookie.
    $("#collapse{{group.key}}").on('shown.bs.collapse', function () {
        var shown = Cookies.get('expandedSidebars');
        if (!shown)
            shown = "[]";
        shown = JSON.parse(shown);
        shown.push("collapse{{group.key}}");
        Cookies.set('expandedSidebars', JSON.stringify(shown));
    });

    // When a group is hidden, remove it from the 'exapndedSidebars' cookie
    $("#collapse{{group.key}}").on('hidden.bs.collapse', function () {
        var shown = Cookies.get('expandedSidebars');
        if (!shown)
            return;
        shown = JSON.parse(shown);

        shown = shown.filter(function (value, index, arr) {
            return value != "collapse{{group.key}}"
        });
        Cookies.set('expandedSidebars', JSON.stringify(shown));
    });

    {% endfor %}
</script>

<!-- Quiz script-->
<script>

    function multiple_choice_check_answer(isCorrect) {
        if (isCorrect) {
            event.target.classList.add("correct")
        }
        else {
            event.target.classList.add("incorrect")
        }
    }

    function changeclass() {
        let selectedItem = event.target.parentElement.getElementsByClassName("selected")[0];
        if (selectedItem != null)
            selectedItem.classList.remove("selected");
        event.target.classList.add("selected");
    }


    function fillin_check_answer(blank) {
        if (event.target.value.toLowerCase() == blank.toLowerCase()) {
            event.target.classList.add("correct");
            event.target.disabled = true;
            event.target.parentElement.nextElementSibling.firstElementChild.focus();
        }
    }

    function matching_check_answer(responseA, responseB) {
        let leftItem = document.getElementById(responseA);
        let rightItem = document.getElementById(responseB);
        if (leftItem.classList.contains("selected") == true && rightItem.classList.contains("selected") == true) {
            leftItem.onclick = function () { return false; };
            leftItem.classList.add("disabled");
            rightItem.onclick = function () { return false; };
            rightItem.classList.add("disabled");
            rightColSelected = false;
            leftColSelected = false;
        }

    }

    // Drop-down animation
    $(".collapsible").click(function (event) {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight) {
            content.style.maxHeight = null;
        } else {
            content.style.display = "block";
            content.style.maxHeight = content.scrollHeight + "px";
        }
    });

    //Help animation
    $(".help-circle").click(function (event) {
        var content = this.parentElement.parentElement.lastElementChild;
        if (content.style.maxWidth) {
            content.style.maxWidth = null;
            content.style.display = "none";
        } else {
            content.style.display = "block";
            content.style.maxWidth = (content.parentElement.scrollWidth * .7) + "px";
        }
    });

    $(".help-x").click(function (event) {
        var content = this.parentElement;
        if (content.style.maxWidth) {
            content.style.display = "none";
            content.style.maxWidth = null;
        } else {
            content.style.display = "block";
            content.style.maxWidth = (content.parentElement.scrollWidth * .7) + "px";
        }
    });
</script>