---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: {{ site.fonts.base}};
$header-font-family: {{ site.fonts.header }};
$base-font-size: 16px;      
$base-font-weight: 300;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 30px;

// Width of the content area
$content-width: 800px;

$on-palm: 600px;
$on-laptop: 800px;
$on-xs: 575.98px;
$on-sm: 767.98px;
$on-md: 991.98px;
$on-lg: 1199.98px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


// $sidebar_hover_color: #0062B8;
$grey-color: #424242;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

$text-color: #111;
$brand-color: #0a69a8;
$secondary-color1:#d882a1;
$secondary-color2:#f26448;
$secondary-color3:#f18321;
$background-color: #fdfdfd;
$text_selection_color: rgba(0, 98, 184, .5);
$selection-color: $text_selection_color;
$sidebar-hover-color: $secondary-color1;


// Import partials from `sass_dir` (defaults to `_sass`)
@import "base", "fonts", "syntax-highlighting", "simple-sidebar", "pages", "colors";
